mixin demo()
    block

mixin button()
    - var cls = '.'+attributes.class.replace(/ /g, '.')
    button&attributes(attributes)= 'button'+cls

mixin a()
    - var cls = '.'+attributes.class.replace(/ /g, '.')
    a&attributes(attributes)= 'a'+cls

mixin br()
    | \n

mixin n()
    | \dn

mixin section(title)
    a(id=title, style='visibility: hidden;')
    h2= title
    section.author-section
        block

mixin block(title)
    section.author-block
        h3= title
        section.description
            block